
@font-face {
    font-family: "SF Pro Text Regular";
    src: url("fonts/SFProText-Regular.ttf");
  }
@font-face {
    font-family: "SF Pro Text Bold";
    src: url("fonts/SFProText-Bold.ttf");
  }

@font-face {
    font-family: "SF Pro Text SemiBold";
    src: url("fonts/SFProText-Semibold.ttf");
}

@font-face {
    font-family: "SF Pro Text Medium";
    src: url("fonts/SFProText-Medium.ttf");
}


  
:root {
	--main-blue: #0297d4;
	--dark: #131515;
	--yellow: #ffcd00;
}

:root {
    --font-family: "SF Pro Text", sans-serif;
    /* --second-family: "SF Pro Rounded", sans-serif; */
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family)
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    height: 12122px;
    background: #f3f6f9;
    margin: 0 auto;


    border: 2px solid green;

}

.wrapper {
    max-width: 1400px;
    /* height: 596px; */
    margin: 0 auto;

    /* border: 2px solid green; */

}

/* хедер */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    border: 2px solid green;

}

.nav {
    display: flex;
    gap: 135px;

    border: 2px solid green;
}


.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: auto;

    width: 305px;
    height: 24px;


    
}

.nav ul a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark);
    text-decoration: none;
}

.btnAddCard {
    border-radius: 50px;
    padding: 16px 36px;
    width: 335px;
    height: 56px;

    /* font-family: var(--font-family); */
    font-weight: 600;
    /*в figma размер 20px, но текст тогда не помещается*/
    font-size: 19px;  
    text-transform: uppercase;
    color: #fff;
    background: var(--main-blue);
    border: none;

    cursor: pointer;
}

/* хедер конец */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 202px;
    

    
    background-image: url('img/banner-main.jpg');
}

.banner-main {
    margin-bottom: 94px;
}

h1, .h1 {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}


.banner a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #6ad3ff;
}

/* cекция кароточек */

section.cards {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
}

.card {
display: flex;
flex-direction: column;
gap: 28px;

border-radius: 20px;
padding: 40px 48px;
width: 100%;
/* height: 526px; */

box-shadow: 2px 2px 10px 2px rgba(39, 52, 58, 0.15);
background: #fff;
}

.card__header {
font-weight: 700;
font-size: 32px;
color: var(--dark);
}

.card__body {
    display: flex;
    gap: 28px;
    width: 1304px;
    height: 328px;
}

.card__img {
    border-radius: 10px;
    width: 414px;
    height: 328px;

    /* background: url("img/Photo.jpg"); */
}

.types__cars {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 498px;
    height: 328px;

}

.type__car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f4f8;

    border-radius: 10px;
    padding: 16px 20px;
    width: 498px;
    height: 56px;
    font-weight: 400;
    font-size: 20px;
    color: #777;
}

.type__car__price {
    font-weight: 700;
}

.contacts {
    display: flex;
    flex-direction: column;
    
    width: 336px;
    height: 328px;
    gap: 21.5px;
}

.phone__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 50px;
    padding: 16px 36px;
    width: 335px;
    height: 56px;

    background: var(--main-blue);

    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;

    cursor: pointer;

    border: none;
}

/* .phone__img {
    background-image: url('img/fluent_call-24-filled.svg');
} */

.address {
    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 10px;
padding: 16px 20px;
width: 336px;
height: 92px;

background: #fff5cc;
}

.address__desc {

    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #777;
}



.location {
font-weight: 400;
font-size: 20px;
color: #1b1e1f;
}

.card__id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--main-blue);
border-radius: 50px;
padding: 16px 36px;
width: 336px;
height: 69px;
}

.card__id p {
font-weight: 400;
font-size: 12px;
text-align: center;
color: var(--main-blue);
}

.card__id p span {
    font-weight: 500;
}

.card__id a {
font-weight: 400;
font-size: 16px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--main-blue);
}

.card__desc {
font-weight: 400;
font-size: 20px;
color: var(--dark);
}

.card__pages {
    display: flex;
    width: 332px;
    height: 52px;
    gap: 18px;
}

.card__page__num {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */

    border: 1px solid var(--main-blue);
border-radius: 6px;
padding: 10px;
width: 52px;
height: 52px;

font-weight: 700;
font-size: 26px;
text-transform: uppercase;
text-align: center;
color: var(--main-blue);

cursor: pointer;
}

.active__page__num {
    background: var(--main-blue);
    /* font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
text-transform: uppercase;
text-align: center; */
color: #fff;
}

.subBanner {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 30px 0 50px; */

    /* width: 100%;
    height: 202px;
    background-image: url('img/banner-main.jpg'); */
}

h2, .h2 {
font-weight: 700;
font-size: 40px;
color: #fff;
margin: 0 155px 0 30px;
}




/* Cтраница editOffer начало */

.banner-edit-offer {
    margin-bottom: 60px;
}

section.editForm {
    display: flex;
    flex-direction: column;



}

.form__desc {
    display: flex;
    align-items: center;

    /* height: auto; */
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 26px;
    color: var(--dark);

    border: 1px solid red;
}

.form__desc span{
    font-weight: 700;
}